.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	font-size: 14px;
}

$brandColor: #a1c4d1;
$grey: #cdcdcd;
$headerHeight: 40px;
$footerHeight: 40px;

#header {
	background-color: $brandColor;
	height: $headerHeight;
	width: 100%;
	position: fixed;
	z-index: 100;

	#logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		img {
			width: 50px;
		}
	}

	#menuIcon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translate(0, -50%);

		i {
			cursor: pointer;
		}
	}
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: $footerHeight;
	border-top: 1px solid $brandColor;
	background-color: lighten($brandColor, 20%);
	z-index: 100;

	.footerWrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;

		a, .separator {
			display: inline-block;
			vertical-align: middle;
		}

		.separator {
			width: 1px;
			height: 10px;
			background-color: $brandColor;
		}

		a {
			color: darken($brandColor, 20%);
			font-weight: 700;
			margin: 0 15px;
			text-decoration: none;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

#mainContent {
	padding-top: $headerHeight;
	padding-bottom: $footerHeight;

	.mainContentWrapper {
		padding: 25px;
		position: relative;
	}

	h1 {
		font-size: 18px;
		text-transform: uppercase;
		color: $brandColor;
		font-weight: 700;
		border-bottom: 1px solid $grey;
	}

	.assistanceAgentsList {
		margin-top: 25px;

		.assistanceAgent {
			margin-bottom: 25px;
			border-radius: 5px;
			background-color: #fafafa;
			padding: 15px;
			box-shadow: 0 0 5px #999;

			.assistanceAgentProfile {
				display: inline-block;
				vertical-align: middle;
				width: 150px;

				img {
					width: 75px;
					border-radius: 50%;
				}
			}

			.assistanceAgentDataContainer {
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 150px);

				span {

				}
			}
		}
	}
}